body {
    background-color: #ffffff;
    color: #000000;
    font-family: Arial, sans-serif;
    margin: 20px;
}

a {
    color: #7aa2d6;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

table, th, td {
  border:1px solid black;
}